/*CSS principal du theme*/
*{
	box-sizing: border-box;
}

aside, div, section, header, footer, nav {
	display: block;
}

html{
	background-color : beige;
	font-size: 16px;
	font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
}

/*--------------------------Responsive------------------------------*/
/*-------------------- Pour les tablettes 960px --------------------*/
@media only screen and (max-width: 960px) {

	}

/***************************--------------------------------pour mobile 760px--------------------------------*/
@media only screen and (max-width: 760px) {

}